body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lora', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white; /* Color de fondo opcional */
}

/* Estilos para el encabezado */
.encabezado {
  width: 100%;
  display: flex;
  justify-content: start; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 0px 0; /* Espaciado alrededor del logo */
}

.logo-link {
  display: inline-block;
  margin: 0; /* Elimina cualquier margen alrededor del enlace */
  padding: 0; /* Elimina cualquier relleno alrededor del enlace */
  outline: none; /* Elimina el contorno cuando el enlace está enfocado */
}

.logo-link:focus {
  outline: none; /* Asegura que el contorno no aparezca cuando el enlace es enfocado */
}

.logo {
  display: block; /* Asegura que el logo se comporte como un bloque */
  max-width: 90%; /* Asegura que el logo no exceda el tamaño del contenedor */
  height: 85%; /* Mantiene la proporción del logo */
  border: none; /* Elimina cualquier borde alrededor de la imagen */
  cursor: pointer ; /* Cambia el cursor a una mano cuando se pasa sobre el logo */
}

nav {
  width: 1440px;
  height: 112px;
}

/* Estilos para la lista horizontal */
.horizontal-list {
  list-style-type: none;
  padding: 1px;
  display: flex;
  justify-content: space-between; 
  gap: 1px; 
}

.horizontal-list-item {
  margin: 5px 0; /* Elimina cualquier margen alrededor de los elementos de la lista */
  position: relative;
}

.horizontal-list-item a {
  display: block;
  position: relative;
  width: 100px; /* Ajusta según sea necesario */
  height: 100px; /* Ajusta según sea necesario */
  text-decoration: none;
  color: #000; /* Color del texto */
  padding: 5px 5px; /* Espaciado dentro de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.4s; /* Transición suave para el fondo */
  text-align: center;
  line-height: 50px; /* Centra verticalmente */
  text-decoration: none;
  overflow: hidden;
}

.horizontal-list-item a:hover {
  background-color: #8d2121e6; /* Color de fondo al pasar el ratón */
}

.icon-text {
  position: relative;
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
}

.icon, .text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .icon {
    opacity: 1;
    width: 40px; /* Cambia el tamaño del icono aquí */
    height: 40px; /* Cambia el tamaño del icono aquí */
  }
  
  .text {
    opacity: 0;
  }
  
  .horizontal-list-item a:hover .icon {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  
  .horizontal-list-item a:hover .text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

main {
  flex: 1;
  padding: 10px;
}

div.location-container {
  height: 600px;
  width: 600px;
}

.info {
  flex: 10;
  display: block;
  flex-direction: column;
  justify-content: space-between;
}

div#map.map {
  flex: 10;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: -1px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 10px 0; 
  font-size: 14px; 
  color: #ccc; 
}
