body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    max-width: 100%; /* Ajusta el tamaño máximo del logo al contenedor */
    height: auto; /* Altura ajustada automáticamente */
    position: fixed; /* Posición absoluta para el logo */
    top: 30%; /* Alinea el borde superior del logo al 50% del contenedor */
    left: 45%; /* Alinea el borde izquierdo del logo al 50% del contenedor */
    transform: translate(-50%, -50%); /* Centra el logo tanto horizontal como verticalmente */
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

header {
    background-color: white;
    color: rgb(8, 8, 8);
    padding: 20px 500px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
.horizontal-list-item {
    margin-right: 20px; /* Ajusta el espacio entre los elementos según lo necesites */
  }

nav ul li a {
    color: rgb(71, 46, 46);
    text-decoration: none;
}

main {
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
