body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-container {
    text-align:center;
}

.logo {
    max-width: 100%; /* Ajusta el tama침o m치ximo del logo al contenedor */
    height: auto; /* Altura ajustada autom치ticamente */
    position: fixed; /* Posici칩n absoluta para el logo */
    top: 30%; /* Alinea el borde superior del logo al 50% del contenedor */
    left: 45%; /* Alinea el borde izquierdo del logo al 50% del contenedor */
    transform: translate(-50%, -50%); /* Centra el logo tanto horizontal como verticalmente */
    cursor: pointer;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

header {
    background-color: white;
    color: rgb(8, 8, 8);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(71, 46, 46);
    text-decoration: none;
}

main {
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
