body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lora', sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Color de fondo opcional */
}

 /* Estilos para el encabezado */
header.encabezado {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 0px 0; /* Espaciado alrededor del logo */
}

a.logo-link {
  display: block;
  max-width: 90%;
  height: 85%;
  text-decoration: none;
  position: relative;
  cursor: default; /* Para asegurar que el cursor no cambie por defecto */
}

a.logo-link img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none; /* Elimina los eventos de puntero del logo */
}

a.logo-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer; /* Cursor pointer sólo cuando está sobre el pseudo-elemento */
}


.logo {
  width: 100%; /* Asegura que la imagen del logo ocupe todo el espacio del enlace */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

nav {
  width: 800px;
  height: 112px;
}

/* Estilos para la lista horizontal */
.horizontal-list {
  list-style-type: none;
  padding: 1px;
  display: flex;
  justify-content: space-between; 
  gap: 100px; 
}

.horizontal-list-item {
  margin: 5px 50px; /* Elimina cualquier margen alrededor de los elementos de la lista */
  position: relative;
}

.horizontal-list-item a {
  display: block;
  position: relative;
  width: 100px; /* Ajusta según sea necesario */
  height: 100px; /* Ajusta según sea necesario */
  text-decoration: none;
  color: white; /* Color del texto */
  padding: 5px 5px; /* Espaciado dentro de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.4s; /* Transición suave para el fondo */
  text-align: center;
  line-height: 50px; /* Centra verticalmente */
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
}

.horizontal-list-item a:hover {
  background-color: #8d2121e6; /* Color de fondo al pasar el ratón */
}

.icon-text {
  position: relative;
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
}

.icon, .text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .icon {
    opacity: 1;
    width: 40px; /* Cambia el tamaño del icono aquí */
    height: 40px; /* Cambia el tamaño del icono aquí */
  }
  
  .text {
    opacity: 0;
  }
  
  .horizontal-list-item a:hover .icon {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  
  .horizontal-list-item a:hover .text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  main {
    flex: 1;
    width: 100%; /* Asegura que main ocupe el ancho completo */
    padding: 20px; /* Ajusta el padding si es necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    margin-bottom: 10px; /* Margen inferior */
    color: #333; /* Color de texto */
    width: 50%; /* Ajusta el ancho según tus necesidades */
    padding: 0px; /* Espaciado interior */
    margin: 0 auto; /* Espaciado exterior */
  }


  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    position: relative
    }
  
  footer p {
    margin: 0; 
    font-size: 14px; 
    color: #ccc; 
    text-align: center;
    width: 100%;
  }
  
  